a {
    padding: 4px;
    background-color: rgb(216, 108, 216);
}

a:hover {
    background-color: rgb(236, 232, 232);
}

p {
    background-color: bisque;
    
}

li:nth-child(even) {
    padding: 5px;
    background-color: aqua;
    
    
}

td, tr {
    padding: 3px;
    text-align: center;
    border-radius: 2em;
    background-color: antiquewhite;
}

title {
    background-color: rgb(207, 39, 39);
}

h3, h1 {
    background-color: aquamarine;
}

#games {
    padding: 3px;
    background-color: rgb(181, 161, 201);
}

.text-align {
    text-align: center;
}